<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand text-white-ic" href="/" id="logo">One-minute Pitch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/"> <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link login-text text-white lead" href="/login"><i class="fas fa-sign-in-alt"></i>&nbsp; Log in</a>
            </li>

            <li class="nav-item">
                <a class="nav-link login-text text-white lead" href="/user"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg></a>
            </li>
            <li class="nav-item">
                <a class="nav-link login-text text-white lead" href="/logout"><i class="fas fa-sign-out-alt"></i>&nbsp; Log out</a>
            </li>
        </ul>
    </div>
</nav>